---
import Navigation from '../components/Navigation.astro';
import MyFooter from '../components/MyFooter.astro';
import '../styles/global.css';
const pageTitle = "Home - Astro Learning Project";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation/>
		
		<section id="main" class="container">
			<h1>{pageTitle}</h1>
		</section>

		<MyFooter/>
	</body>
</html>
