---
import Social from './Social.astro';
import '../styles/global.css';
---
<footer>
    <p>&copy; 2024 Astro Learning Project - To Infinity and Beyond!</p>
    <Social platform="github" username="JuanAlbertoCarrillo" />
</footer>