---
import '../styles/global.css';
---
<header>
    <div class="container">
        <div id="branding">
            <h1>Astro Learning Project</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>